@layer utilities {
    .mask-gradient {
        mask-image: linear-gradient(to bottom, rgb(0, 0, 0),
                rgb(0, 0, 0) 20%,
                rgb(0, 0, 0) 50%,
                rgba(0, 0, 0, 0.63) 80%,
                rgba(0, 0, 0, 0));
    }
   
    .image {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }   

    .gimnospermas {
        background-image: url(' ');
    }

    .briofitas {
        background-image: url('');
    }

    .angiospermas {
        background-image: url('');
    }

}