@layer utilities {
    .mask-gradient {
        mask-image: linear-gradient(to bottom, rgb(0, 0, 0),
                rgb(0, 0, 0) 20%,
                rgb(0, 0, 0) 50%,
                rgba(0, 0, 0, 0.63) 80%,
                rgba(0, 0, 0, 0));
    }
   
    .image {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }   

    .gimnospermas {
        background-image: url('https://images.pexels.com/photos/35440906/pexels-photo-35440906.jpeg');
    }

    .briofitas {
        background-image: url('https://images.pexels.com/photos/34992813/pexels-photo-34992813.jpeg');
    }

    .angiospermas {
        background-image: url('https://images.pexels.com/photos/12703286/pexels-photo-12703286.jpeg');
    }

}